main {
    background: url(./assets/img/back.png);
    background-size: cover;
    z-index: 100;
}

footer {
    z-index: 100;
}

header {
    z-index: 100;
}

p {
    font-size: 20px;
    padding: 0 20px;
}

.brand-logo .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: 10px;
    position: relative;
}

.mobile-title {
    font-size: 35px;
    font-weight: bold;
}

img.personal {
    border-radius: 50%;
    max-height: 30vmin;
    max-width: 30vmin;
}

img.gif {
    max-width: 30vmin;
}

.row:last-child {
    margin-bottom: 0;
}

.section:last-child {
    padding-bottom: 0;
}

.padding.t100 {
    padding-top: 100px;
}

.img-carousel {
    width: 100px!important;
    height: 100px;
    border-radius: 50%;
}

.icon-link {
    color: #ffffff;
    margin: 0 5px;
}

.icon-link .fab {
    font-size: 30px;
}

.fix-row {
    margin-left: 0!important;
    margin-right: 0!important;
}

.vflex .vcol {
    display: flex;
}

.carousel.carousel-slider {
    height: 360px!important;
}

.carousel.works .carousel-item {
    width: 350px;
    height: 350px;
}

.carousel.works .indicators .indicator-item {
    background-color: #9e9e9e;
}

.carousel.works .indicators .indicator-item.active {
    background-color: #000000;
}

.skills {
    width: 80%;
    max-width: 960px;
    height: 780px;
    margin: auto;
    position: relative;
  }
  .lines {
    height: 100%;
    position: relative;
  }
  .line {
    height: inherit;
    width: 2px;
    position: absolute;
    background: rgba(238, 238, 238, 0.6);
  }
  .line.l--0 {
    left: 0;
  }
  .line.l--25 {
    left: 25%;
  }
  .line.l--50 {
    left: 50%;
  }
  .line.l--75 {
    left: 75%;
  }
  .line.l--100 {
    left: calc(100% - 1px);
  }
  .line__label {
    display: block;
    width: 100px;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: -50px;
  }
  .line__label.title {
    text-transform: uppercase;
    font-weight: bold;
  }
  .charts {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .chart {
    margin: 30px 0 0;
  }
  .chart:first-child {
    margin: 0;
  }
  .chart__title {
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
  }
  .chart--prod .chart__title {
    animation-delay: 3.3s;
  }
  .chart--design .chart__title {
    animation-delay: 4.5s;
  }
  .chart--horiz {
    overflow: hidden;
  }
  .chart__bar {
    height: 30px;
    margin-bottom: 10px;
    background: linear-gradient(to left, #4cb8c4, #3cd3ad);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
  }
  .chart--dev .chart__bar:nth-of-type(11) {
    animation-delay: 2.7s;
  }
  .chart--dev .chart__bar:nth-of-type(10) {
    animation-delay: 2.5s;
  }
  .chart--dev .chart__bar:nth-of-type(9) {
    animation-delay: 2.3s;
  }
  .chart--dev .chart__bar:nth-of-type(8) {
    animation-delay: 2.1s;
  }
  .chart--dev .chart__bar:nth-of-type(7) {
    animation-delay: 1.9s;
  }
  .chart--dev .chart__bar:nth-of-type(6) {
    animation-delay: 1.7s;
  }
  .chart--dev .chart__bar:nth-of-type(5) {
    animation-delay: 1.5s;
  }
  .chart--dev .chart__bar:nth-of-type(4) {
    animation-delay: 1.3s;
  }
  .chart--dev .chart__bar:nth-of-type(3) {
    animation-delay: 1.1s;
  }
  .chart--dev .chart__bar:nth-of-type(2) {
    animation-delay: 0.9s;
  }
  .chart--dev .chart__bar:nth-of-type(1) {
    animation-delay: 0.7s;
  }
  .chart--prod .chart__bar:nth-of-type(2) {
    animation-delay: 4.2s;
  }
  .chart--prod .chart__bar:nth-of-type(1) {
    animation-delay: 4s;
  }
  .chart--design .chart__bar:nth-of-type(3) {
    animation-delay: 5.6s;
  }
  .chart--design .chart__bar:nth-of-type(2) {
    animation-delay: 5.4s;
  }
  .chart--design .chart__bar:nth-of-type(1) {
    animation-delay: 5.2s;
  }
  .chart__label {
    padding-left: 10px;
    line-height: 30px;
    color: white;
  }
  @keyframes anim-lightspeed-in {
    0% {
      transform: translateX(-200%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

/* MOBILE */

@media only screen and (max-width: 600px) {
    .title {
        text-align: center;
    }

    .carousel.carousel-slider {
        height: 400px!important;
    }

    .carousel.works .carousel-item {
        width: 200px;
        height: 200px;
    }

    /*.carousel.works .carousel-item {
        width: 200px;
        height: 200px;
    }
    
    .carousel.works {
        height: 300px;
    }*/
}

/* NO MOBILE */
@media only screen and (min-width: 601px) {
    .container:not(.footer) {
        background: rgba(255, 255, 255, 0.9);
    }
}

/* LAPTOPS, DESKTOP, TABLET */

@media only screen and (max-width: 992px) {}